#color-list {
    color: #2a2a2a;
    color: #fe3f40;
    color: #03a4ed;
    color: #ff4d61;
    color: #222;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* customize font size start*/
p{
    font-size: 16px;
}

h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 30px;
}


/* customize font size end */
.c-blue {
    color: #03a4ed;
}

.c-red {
    color: #fe3f40;
}
.c-red-new {
    color: #ff4d61;
}

.c-red-bg {
    background-color: #fe3f40;
}

.section-padding {
    padding-top: 5rem;
}

/* navbar start */

.navbar-brand span{
    letter-spacing: 2px;
}

#navbarNav a:hover{
    color: #ff4d61;
}

#contact-btn {
    border-radius: 20px;
    padding: 7px 25px;
}

#contact-btn:hover {
    background-color: #03a4ed;
    border: 1px solid blue;
}

.navbar-nav a {
    color: #222;
    margin: 0.5rem 1rem;
    font-weight: 450;
}
/* navbar end */


/* hero section start */
.hero-info {
    line-height: 2.1rem;
}

#hero-link {
    text-decoration: none;
    font-size: 20px;
}

#analyze-div {
    margin-top: 1rem;
    background-color: #03a4ed;
    border-radius: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#website-url {
    margin-left: 15px;
    background-color: #03a4ed;
    border: 0;
    &:focus,
    &:focus-visible {
        outline: inherit;
    }
}

.website-url-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    border-radius: 50px;
}


/* about section start */
#about-section {
    background-image: url(/images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

/* about section end */


/* service section start */
.service-head {
    line-height: 2.8rem;
    font-weight: bold;
}

.service-info {
    line-height: 2.6rem;
    padding-bottom: 2rem;
}

.progress {
    height: 6px;
}
/* service section end */

/* portfolio start */
.portfolio-imges {
    box-shadow: 1px 1px 10px rgb(229, 224, 224);
    border-radius: 10px;
    margin: 5px 15px;
}

/* portfolio end */


/* blog section start */
.blog-left-image img{
    border-radius: 20px;
}

#main-info {
    position: relative;
    width: 80%;
    border-radius: 20px;
    margin-top: -115px;
    border: 1px solid white;
    box-shadow: 1px 1px 10px gray;
}

.btn-discover {
    background-color: #03a4ed;
    color: #fff;
    border-radius: 20px;
    padding: 8px 20px;
    border: 1px solid #03a4ed;
    &:hover{
        background-color: #03a4ed;
        border: 1px solid #03a4ed;
        color: #fff;
    }
}

.blog-imge-section img{
    border-radius: 20px;
}


/* blog section end */

/* contact section start */
#contact-section {
    background-image: url(/images/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px;
}

.contact-heading {
    line-height: 3.5rem;
    font-weight: bold;
}

.contact-content {
    line-height: 2.5rem;
}

.fa-phone-flip {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    color: #fe3f40;
    border-radius: 50px;
    font-size: 20px;

}


#contact-form-col {
    border-radius: 10px;
}

#contact-form-col form {
    margin-left: 2rem;
    margin-right: 2rem;
}

.imput-bg-color {
    background-color: #d1f3ff;
    border-radius: 20px;
    &:focus {
        background-color: #d1f3ff;
    }
}

#message {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}

.btn-message-send {
    background-color: #03a4ed;
    color: #fff;
    border-radius: 20px;
    padding: 8px 20px;
    &:hover{
        background-color: #fe3f40;
        color: #fff;
    }
}
/* contact section end */