#color-list {
    color: #2a2a2a;
    color: #fe3f40;
    color: #03a4ed;
    color: #ff4d61;
    color: #222;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* customize font size start*/
p{
    font-size: 16px;
}

h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 30px;
}

/* customize font size end */
.c-blue {
    color: #03a4ed;
}

.c-red {
    color: #fe3f40;
}
.c-red-new {
    color: #ff4d61;
}

.c-red-bg {
    background-color: #fe3f40;
}

.section-padding {
    padding-top: 5rem;
}

/* navbar start */

.navbar-brand span{
    letter-spacing: 2px;
}

#navbarNav a:hover{
    color: #ff4d61;
}

#contact-btn {
    border-radius: 20px;
    padding: 7px 25px;
}

#contact-btn:hover {
    background-color: #03a4ed;
    border: 1px solid blue;
}

.navbar-nav a {
    color: #222;
    margin: 0.5rem 1rem;
    font-weight: 450;
}
/* navbar end */


/* hero section start */
.hero-info {
    line-height: 2.1rem;
}

#hero-link {
    text-decoration: none;
    font-size: 20px;
}

#analyze-div {
    margin-top: 1rem;
    background-color: #03a4ed;
    border-radius: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#website-url {
    margin-left: 15px;
    background-color: #03a4ed;
    border: 0;
}

.website-url-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    border-radius: 50px;
}


/* about section start */
#about-section {
    background-image: url(/images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

/* about section end */


/* service section start */
.service-head {
    line-height: 2.8rem;
    font-weight: bold;
}

.service-info {
    line-height: 2.6rem;
    padding-bottom: 2rem;
}

.progress {
    height: 6px;
}
/* service section end */

/* portfolio start */
.portfolio-imges {
    box-shadow: 1px 1px 10px rgb(229, 224, 224);
    border-radius: 10px;
    margin: 5px 15px;
}

/* portfolio end */